[Unit]
Description=Gunicorn instance for crm_flask
Requires=gunicorn.socket
After=network.target

[Service]
User=www-data
Group=www-data
WorkingDirectory=/opt/peredacha
Environment="PATH=/opt/peredacha/venv/bin"
EnvironmentFile=/opt/peredacha/.env
ExecStart=/opt/peredacha/venv/bin/gunicorn --workers 3 --bind unix:/run/gunicorn-crm_flask.sock wsgi:app
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
