[Unit]
Description=Gunicorn socket for crm_flask

[Socket]
ListenStream=/run/gunicorn-crm_flask.sock
SocketUser=nginx
SocketGroup=nginx
SocketMode=0660

[Install]
WantedBy=sockets.target
